body{
    font: normal 15pt arial;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    /* cores */
    background-image: linear-gradient(45deg,#C02739,#16213E,#29C7AC,#FF0000,#533483,#1E5128,#38E54D,#E94560);
    /* tamanho das cores de canto a canto */
    background-size: 300% 300%;
    /* chamado da animação para o bloco */
    animation: colors 15s ease infinite;
}
/* tag de animação */
@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
 
}

h1{
    color: rgb(58, 3, 3);
    text-align: center;
}

#div1{
    background-image: linear-gradient(45deg, rgb(80, 8, 114),rgb(160, 127, 156));
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 25px rgb(175, 10, 134);
}

#resultado{
    box-shadow: 3px 3px 25px rgb(175, 10, 134);
    background-image: linear-gradient(45deg, rgb(80, 8, 114),rgb(160, 127, 156));
    border-radius: 50px;
    padding: 30px;
    width: 400px;
    margin: auto;
}

#div2 {
    box-shadow: 3px 3px 25px rgb(175, 10, 134);
    background-image: linear-gradient(45deg, rgb(80, 8, 114),rgb(160, 127, 156));
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    margin: auto;
}

.botão{    
    background-color: rgb(207, 34, 34);    
    color: rgb(0, 0, 0)
    
}

.botão:hover{
    background-color: rgb(157, 219, 115);
}
